<div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="140" height="100"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  ></canvas>
      </div>
    </div>
  </div>