:host {
  height: 100vh;
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  max-width: 1444px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 98vh;
  width: 100%;
  grid-gap: 10px;
}

/* Each region */
.dashboard > * {
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}

.switch {
  grid-column-start: 1;
}

.logs {
  grid-column: 2 / span 2;
  grid-row: 1 / span 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
}
