<div class='dashboard'>
    <div class="switch">
      <switch-component></switch-component>
    </div>
    <div class="battery">
      <battery-component label="Battery A"></battery-component>
      <battery-component label="Battery B"></battery-component>
      <battery-component label="Battery C"></battery-component>
      <battery-component label="Battery D"></battery-component>
    </div>
    <div class="pod-state">
      <app-podstate></app-podstate>
    </div>
    <div class="temp">
      <temperature-component label="Temp A"></temperature-component>
      <temperature-component label="Temp B"></temperature-component>
      <temperature-component label="Temp C"></temperature-component>
      <temperature-component label="Temp D"></temperature-component>
      <temperature-component label="Temp E"></temperature-component>
      <temperature-component label="Temp F"></temperature-component>
      <temperature-component label="Temp G"></temperature-component>
      <temperature-component label="Temp H"></temperature-component>
      <temperature-component label="Temp I"></temperature-component>
    </div>
    <div class="speed">
      <speed-component></speed-component>
    </div>
    <div class="position">
      <position-component></position-component>
    </div>
    <div class="brake">
      <brake-component label="Brake A"></brake-component>
      <brake-component label="Brake B"></brake-component>
    </div>
    <div class="control-panel">
      <app-sensors></app-sensors>
      <app-controls></app-controls>
    </div>
  </div>
