<div class='dashboard'>
    <div class="switch">switch</div>
    <div class="battery">battery</div>
    <div class="pod-state">state</div>
    <div class="temp">
      <temperature-component label="Temp A"></temperature-component>
      <temperature-component label="Temp B"></temperature-component>
      <temperature-component label="Temp C"></temperature-component>
      <temperature-component label="Temp D"></temperature-component>
      <temperature-component label="Temp E"></temperature-component>
      <temperature-component label="Temp F"></temperature-component>
      <temperature-component label="Temp G"></temperature-component>
      <temperature-component label="Temp H"></temperature-component>
      <temperature-component label="Temp I"></temperature-component>
    </div>
    <div class="speed">
      <speed-component></speed-component>
    </div>
    <div class="position">position</div>
    <div class="brake">
      <brake-component label="Brake A"></brake-component>
      <brake-component label="Brake B"></brake-component>
    </div>
    <div class="control-panel">panel</div>
  </div>
