<div class='dashboard'>
    <div class="switch">
      <switch-component></switch-component>
    </div>
    <div class="battery">
      <app-batteries></app-batteries>
    </div>
    <div class="pod-state">
      <app-podstate></app-podstate>
    </div>
    <div class="temp">
      <app-widget-array type="TEMPERATURE"></app-widget-array>
    </div>
    <div class="speed">
      <app-widget-array type="SPEED"></app-widget-array>
    </div>
    <div class="position">
      <position-component></position-component>
    </div>
    <div class="brake">
      <app-widget-array type="BRAKE"></app-widget-array>
    </div>
    <div class="control-panel">
      <app-sensors></app-sensors>
      <app-controls></app-controls>
    </div>
  </div>
