:host > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
  height: 100%;
  font-size: 0.8rem;
  padding: 0 0.5rem;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active {
  background: #53da70 !important;
}
