<div className="App">
    <div>Temp Server Name: {{serverName}}</div> 
     <label>Choose a Server Type: (Implementation Required)</label>
       <select name="serverType" id="serverType">
         <option value="serverA">Server A</option>
         <option value="serverB">Server B</option>
       </select>
       
       
  
     <button (click)="onSend()">Click to send message to all server</button>
     <div>{{msgData + " - "+recvServerName}}</div>
      
     <br>
     <div>
       ng2-charts
      <div style="width: 25%; height: 25%">
        <app-line-chart></app-line-chart>
       </div>
       <br>
       <div style="width: 25%; height: 25%">
        <app-bar-chart></app-bar-chart>
       </div>
       <br>
       <div style="width: 25%; height: 25%">
        Does not update
        <app-doughnut-chart></app-doughnut-chart>
       </div>
       <br>
       <div style="width: 25%; height: 25%">
        <app-radar-chart></app-radar-chart>
       </div>
       <br>
       <div style="width: 25%; height: 25%">
        <app-scatter-chart></app-scatter-chart>
       </div>
     </div>
    </div>