/* You can add global styles to this file, and also import other style files */

@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  background: #434343;
  /* background: #232323; */
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
