<div class="startup">
    <p>Start up</p>
    <div class="three-row">
        <app-podstate-item *ngFor='let state of podstateData.startup' name={{state.name}} [isActive]="state.isActive" [isError]="state.isError" class={{state.css_position}}></app-podstate-item>
    </div>
</div>
<div class="shutdown">
    <p>Shutdown</p>
    <div class="two-row">
        <app-podstate-item *ngFor='let state of podstateData.shutdown' name={{state.name}} [isActive]="state.isActive" [isError]="state.isError" class={{state.css_position}}></app-podstate-item>
    </div>
</div>
<div class="ready">
    <p>Ready</p>
    <div class="two-row">
        <app-podstate-item *ngFor='let state of podstateData.ready' name={{state.name}} [isActive]="state.isActive" [isError]="state.isError" class={{state.css_position}}></app-podstate-item>
    </div>
</div>
<div class="active">
    <p>Active</p>
    <div class="three-row">
        <app-podstate-item *ngFor='let state of podstateData.active' name={{state.name}} [isActive]="state.isActive" [isError]="state.isError" class={{state.css_position}}></app-podstate-item>
    </div>
</div>

